.clients {
  h2 {
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    &__card {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 32px;
      background-color: #BAD5FF;

      .clients__description {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        &:last-of-type {
          margin-bottom: 40px;
        }
      }

      .client-card-footer {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: 10px;
        }

        .card-footer-text {
          max-width: 250px;

          span,
          p {
            color: #515678;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          span {
            font-weight: bold;
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @media (max-width: 1439px) {
    &__list {
      gap: 20px;

      &__card {
        padding: 24px;

        .clients__description {
          font-size: 15px;
          line-height: 22px;

          &:not(:last-of-type) {
            margin-bottom: 10px;
          }

          &:last-of-type {
            margin-bottom: 20px;
          }
        }

        .client-card-footer {
          .card-footer-text {

            span,
            p {
              font-size: 12px;
              line-height: normal;
            }

            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      &__card {
        padding: 16px;

        .clients__description {
          font-size: 14px;
          line-height: normal;

          &:not(:last-of-type) {
            margin-bottom: 10px;
          }

          &:last-of-type {
            margin-bottom: 20px;
          }
        }

        .client-card-footer {
          .card-footer-text {

            span,
            p {
              font-size: 12px;
              line-height: normal;
            }

            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}